<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>child - bouncer</title>
    <style type="text/css">
      body { font-size: 16px; line-height: 1.3; font-family: -apple-system, BlinkMacSystemFont, sans-serif; margin: 0 1em; }
      ul { padding-left: 1.5em }
      li { margin: 0.5em 0; }
      input { font-size: 16px; margin-left: 0; }
      input[type="submit"] { font-size: 16px; }
      .nowrap { white-space: nowrap; }
      .updated { box-shadow: 0 0 .25em rgb(0,255,0); background: rgba(0,255,0,0.5); border-radius: 2px; transition: 0.2s; }
    </style>
  </head>
  <body>

    <h1>child - bouncer</h1>
    <p>
      hostname: {{hostname}}<br/>
      {{#cookie}}cookie: {{name}} => <span class="nowrap">{{value}}</span>{{/cookie}}
      {{^cookie}}no cookie{{/cookie}}
    </p>
    <p>
      user interaction: <span id="status"/>
    </p>
    <ul>
      <li><a href="{{return_url}}" class="parent-link">return to parent</a></li>
      <li><a href="#" id="close">close context</a></li>
      <li><a href="/api/bouncer_redirect?url={{return_url}}" class="parent-link">server redirect to parent</a></li>
      <li>
        <form id="form" method="post" action="/api/bouncer_redirect?url={{return_url}}">
          <input type="text" placeholder="some data" size="15"/>
          <input type="submit" value="submit &amp; redirect to parent"/>
        </form>
      </li>
    </ul>


<script>
  document.querySelectorAll('.parent-link').forEach(function (elem) {
    elem.addEventListener('click', function (e) {
      e.preventDefault();
      delayWithStatus(function () { window.location = e.target.href; });
    });
  });
  document.querySelector('#close').addEventListener('click', function (e) {
    e.preventDefault();
    delayWithStatus(window.close);
  });
  document.querySelector('#form').addEventListener('submit', function (e) {
    e.preventDefault();
    delayWithStatus(this.submit.bind(this));
  });

  function delayWithStatus (fun) {
    const delayTime = 5000; // bug in webkit - solved in https://bugs.webkit.org/show_bug.cgi?id=175090 - has not landed in Safari
    const status = document.querySelector('#status');
    status.innerHTML = `delaying action for ${delayTime}ms`
    status.classList.add('updated');
    setTimeout(function () { status.classList.remove('updated'); }, 300);
    setTimeout(function () { status.innerHTML = ''; fun(); }, delayTime);
  }
</script>

  </body>
</html>
