<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>child - index</title>
    <style type="text/css">
      body { font-size: 20px; margin: 0 2em; }
      ul { line-height: 2; }
      .nowrap { white-space: nowrap; }
    </style>
  </head>
  <body>

    <h1>child - index</h1>
    <p>
      hostname: {{hostname}}<br/>
      {{#cookie}}cookie: {{name}} => <span class="nowrap">{{value}}</span>{{/cookie}}
      {{^cookie}}no cookie{{/cookie}}
      </br>(mind that this page is probably cached)
    </p>
    <p>
      API '/cookie/{uuid}' response: <span id="api-result">no response</a>
    </p>
    <ul>
      <li><a target="_top" href="http://{{child_hostname}}:3003/child/bouncer.html?return-url={{return_url}}">user interaction in target="_top"</a></li>
      <li><a target="_blank" href="http://{{child_hostname}}:3003/child/bouncer.html?return-url={{return_url}}">user interaction in target="_blank"</a></li>
      <li><a target="_top" href="http://{{child_hostname}}:3003/api/redirect?url={{return_url}}">server redirect on target="_top"</a></li>
    </ul>

  </body>

  <script>
    // include credentials for cookies - try good old XHR instead?
    document.addEventListener("DOMContentLoaded", function(event) {
      fetch(`/api/cookie/${uuidv4()}`, { method: 'get', credentials: 'include', headers: { 'Accept': 'application/json' } })
        .then(function (response) {
          if(response.ok) { return response.json(); }
          throw new Error('Network response was not ok.');
        })
        .then(function (json) { document.querySelector('#api-result').innerHTML = `${json.name} => ${json.value}`; })
        .catch(function (error) { console.log({message: 'error calling API', error: error }); })
        .then(function () { window.parent.postMessage({ height: document.body.scrollHeight }, "*"); });
    });

    function uuidv4() {
      return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
        (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
      )
    }
  </script>
</html>
