<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>child - index</title>
  </head>
  <body>

    <h1>child - index</h1>
    <p>
      {{#cookie}}cookie: {{name}} => <span style="white-space: nowrap;">{{value}}</span>{{/cookie}}
      {{^cookie}}no cookie{{/cookie}}
    </p>
    <ul>
      <li><a target="_top" href="http://{{child_hostname}}:3003/child/bouncer.html?return-url={{return_url}}">user interaction in target="_top"</a></li>
      <li><a target="_blank" href="http://{{child_hostname}}:3003/child/bouncer.html?return-url={{return_url}}">user interaction in target="_blank"</a></li>
      <li><a target="_top" href="http://{{child_hostname}}:3003/api/redirect?url={{return_url}}">server redirect on target="_top"</a></li>
    </ul>

  </body>

  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      window.parent.postMessage({ height: document.body.scrollHeight }, "*");
    });
  </script>
</html>
