<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>parent</title>
    <style type="text/css">
      body { font-size: 20px; font-family: -apple-system, BlinkMacSystemFont, sans-serif; margin: 0 2em; }
      ul { line-height: 2; }
      .nowrap { white-space: nowrap; }
      iframe { width: 100%; margin-top: 1em; }
    </style>
  </head>
  <body>

    <h1>parent</h1>
    <p>
      hostname: {{hostname}}<br/>
    </p>
    <script>
      window.addEventListener("message", function(event) {
        document.querySelector('#iframe').style.height = `${event.data.height}px`;
      });
    </script>
    <iframe id="iframe" src="http://{{child_hostname}}:3003/child/"/>

  </body>

</html>
