<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>parent</title>
    <style type="text/css">
      body { font-size: 20px; margin: 0 2em; }
      ul { line-height: 2; }
      .nowrap { white-space: nowrap; }
      iframe { width: 100% }
    </style>
  </head>
  <body>

    <h1>parent</h1>
    <p>
      hostname: {{hostname}}<br/>
      {{#cookie}}cookie: {{name}} => <span class="nowrap">{{value}}</span>{{/cookie}}
      {{^cookie}}no cookie{{/cookie}}
      </br>(mind that this page is probably cached)
    </p>
    <p>child:</p>

    <script>
      window.addEventListener("message", function(event) {
        document.querySelector('#iframe').style.height = `${event.data.height}px`;
      });
    </script>
    <iframe id="iframe" src="http://{{child_hostname}}:3003/child/"/>

  </body>

</html>
